/* Modal de Perfil en Móvil */
@media (max-width: 768px) {
    .profile-modal {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1500; /* Más alto que la barra de navegación */
      background-color: white;
      box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    }
  }
  
  /* Modal de Perfil en Escritorio */
  @media (min-width: 769px) {
    .profile-modal {
      position: fixed;
      top: 4rem; /* Para dejar espacio al navbar */
      right: 0;
      width: 20%;
      height: 100%;
      z-index: 1500;
      background-color: white;
      box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
    }
  }
  