ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
  }
  
  #lottie-animation {
    width: 300px;
    height: 300px;
  }
  